apiVersion: v1
kind: Secret
metadata:
  name: imgr-secrets
  namespace: imgr
type: Opaque
stringData:
  CELERY_BROKER_URL: "{{ celery_broker_url }}"
  AWS_ACCESS_KEY_ID: "{{ aws_access_key_id }}"
  AWS_SECRET_ACCESS_KEY: "{{ aws_secret_access_key }}"
  S3_BUCKET_NAME: "{{ s3_bucket_name }}"
  AWS_REGION_NAME: "{{ aws_region_name }}"